<div class="container">
  <div id="question_form">
    <%= form_for @question do |f| %>

      <%= f.label :title, class: 'question-labels' %><br>
      <%= f.text_area :title %><br>

      <%= f.label :prompt, class: 'question-labels' %><br>
      <%= f.text_area :prompt %><br>

      <button type="submit" class="btn btn-default">Submit</button>
    <% end %>
  </div>
</div>
