<div class="container">
  <h1>Edit Profile:</h1>
  <%= form_tag({controller: "users", action: "update"}, method: "patch") do %>
    <%= label_tag(:'user[:name]', "Name") %>
    <%= text_field_tag(:'user[:name]') %><br><br>
    <%= label_tag(:'user[:email]', "Email") %>
    <%= text_field_tag(:'user[:email]') %><br><br>
    <%= label_tag(:'recipe[:name]', "The Name of your homestyle MacNCheese Recipe") %>
    <%= text_field_tag(:'recipe[:name]') %><br><br>
    <%= label_tag(:'user[:pic_url]', "URL for picture of your recipe") %>
    <%= text_field_tag(:'user[:pic_url]') %><br><br>
    <%= submit_tag("Submit") %>
  <% end %>
</div>