<div class="container">
  <h1>Edit Profile:</h1>
  <%= form_tag({controller: "users", action: "update"}, method: "patch") do %>
    <%= label_tag(:"user[name]", "Name") %>
    <%= text_field_tag(:"user[name]", @user.name) %><br><br>
    <%= label_tag(:"user[email]", "Email") %>
    <%= text_field_tag(:"user[email]", @user.email) %><br><br>
    <%= label_tag(:'recipe_name', "The Name of your homestyle MacNCheese Recipe") %>
    <%= text_field_tag(:'recipe_name', @recipe_name) %><br><br>
    <%= label_tag(:"user[pic_url]", "URL for picture of your recipe") %>
    <%= text_field_tag(:"user[pic_url]", @user.pic_url) %><br><br>
    <%= label_tag(:'ingredients', "List your ingredients separated by a comma") %>
    <%= text_field_tag(:'ingredients', @ingredients_str, {class:".input-large", size:100}) %><br><br>
    <%= label_tag(:'instructions', "List your instructions separated by a comma") %>
    <%= text_field_tag(:'instructions', @instructions_str, {class:".input-large", size:100}) %><br><br>
    <%= submit_tag("Submit") %>
  <% end %>
</div>