<div class="container" id="scrolling-ct">
  <div id="user_profile">
    <div class="row">
      <div class="pic_container col-xs-12 col-sm-8">
          <img src="<%=@user.pic_url%>" class="img-rounded img responsive">
      </div>
      <div id="mac_info" class="col-xs-12 col-sm-4 pull-right">
        <h2><%= @recipe.name %></h2>
        <ul>
          <% @recipe.ingredients.each do |ing|%>
            <li><%= ing.name %></li>
          <% end %>
        </ul>
        <hr>
        <ol>
          <% @recipe.instructions.each do |ins|%>
            <li><%= ins.description %></li>
          <% end %>
        </ol><hr>
      </div>
    </div>

    <div class="row">
      <div class="info_container col-xs-8">
        <div class="user_info">
          <p><b>Brought to you by:</b> <%= @user.name %><br>
            <b>Email:</b> <%= @user.email %>
          </p>
        </div>

        <div id="user_settings col-xs-4 pull-left">
            <% if viewing_own_profile?(current_user) %>
              <%= link_to "Edit Profile/Recipe", edit_user_path(@user) %><br>
              <%= link_to "Delete Account", user_path(@user), method: :delete %><br>
              <%= link_to "Ask a New Question", new_question_path %>
            <% end %>
        </div>
      </div>
    </div>
    <hr>

    <% if @user.questions.first != nil %>
      <div id="user-questions-list">
        <h2><%= @user.name %>'s Questions:</h2>
        <ul>
          <% @user.questions.each do |question| %>
            <li><%= link_to "#{question.title}", question_path(question) %></li><hr>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>
</div>
